body {
  font-family: 'Nunito', sans-serif;
}

.main-title {
  margin-top: 10px;
  text-align: center;
}

.page-text {
  text-align: center;
}

.container {
  text-align: center;
}

.img-container {
  margin-top: 20px;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.questions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-grow: 2;
}

.card {
  width: 32%;
  margin-top: 10px;

  .card-body {
    display: flex;
    flex-direction: column;

    .card-title {
      display: flex;
      flex-grow: 1;
    }

    .btn {
      display: flex;
      align-self: flex-start;
    }
  }
}

.submit-message {
  margin-top: 10px;
  text-align: center;
}