body {
  font-family: 'Nunito', sans-serif;

  & > main {
    padding-top: 3vh;
    padding-bottom: 8vh;
  }

  & > footer {
    padding-bottom: 8vh;
    .copyright {
      text-align: center;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

.page-title {
  margin-bottom: 15px;
  text-align: center;

  h1 {
    margin: 0;
  }

  .page-description {
    margin-top: 10px;
  }
}

.article {
  .article-header {
    margin-bottom: 10px;

    .image-credit {
      text-align: right;
    }
  }

  .article-footer {
    text-align: right;
  }
}

.questions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-grow: 2;
}

.card {
  width: 100%;
  margin-top: 10px;

  @media (min-width: 576px) and (max-width: 991px) {
    width: 49%;
  }

  @media (min-width: 992px) {
    width: 32%;
  }

  .card-body {
    display: flex;
    flex-direction: column;

    .card-title {
      display: flex;
      flex-grow: 1;
    }

    .btn {
      display: flex;
      align-self: flex-start;
    }
  }
}

.submit-message {
  margin-top: 10px;
  text-align: center;
}

